In [1]:
import numpy as np
import pandas as pd
np.random.seed(123)
n_samples= 1000
# class 0 will have 900 data points, and clas 1 will have remaining 100
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [11]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [12]:
class_0

     feature_1  feature_2  target
0     0.226907  -0.525923       0
1    -2.398554   0.229579       0
2    -0.447858  -0.560087       0
3     0.197384   1.115389       0
4     0.627365   0.698765       0
..         ...        ...     ...
895   1.558220   0.674080       0
896  -0.534894  -1.652091       0
897   1.178289   0.706091       0
898   0.168030  -0.542375       0
899  -0.887876   0.409421       0

[900 rows x 3 columns]

In [13]:
class_1

    feature_1  feature_2  target
0    2.490810   1.406243       1
1    1.846869   1.629416       1
2    2.380915   2.674931       1
3    2.294672   2.527089       1
4    3.070848   1.991817       1
..        ...        ...     ...
95   0.122833   2.758545       1
96   2.862814   2.582465       1
97   2.733225   0.392965       1
98   1.342567   1.609239       1
99   1.842386   3.144320       1

[100 rows x 3 columns]

In [14]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [6]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [15]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [23]:
df_minority=df[df['target']==1]
df_majority = df[df['target']==0]

In [26]:

df.drop(columns = 'minority',axis=1,inplace=True)

In [27]:
df_minority=df[df['target']==1]
df_majority = df[df['target']==0]

In [28]:
# upsampling
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),#kitne points hone chaye,
         random_state=42)

In [30]:
df_minority_upsampled.shape

(900, 3)

In [31]:
#equal 1 points added as according to majority 0, to balance dataset, noe concat both datasets
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.720464   4.175706       1
992   1.927428   3.018077       1
914   2.850840   2.058938       1
971   1.536417   0.953271       1
960   1.197962   2.512859       1

In [33]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [34]:
df_upsampled

     feature_1  feature_2  target
0     0.226907  -0.525923       0
1    -2.398554   0.229579       0
2    -0.447858  -0.560087       0
3     0.197384   1.115389       0
4     0.627365   0.698765       0
..         ...        ...     ...
952   0.376319   2.097916       1
965   1.682427   3.061967       1
976   2.241443   3.765230       1
942   1.473715  -0.084314       1
974  -0.156025   3.980136       1

[1800 rows x 3 columns]

In [35]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# downsampling

In [36]:

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [37]:
df_minority=df[df['target']==1]
df_majority = df[df['target']==0]

In [39]:

from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, #we want to reduce the dataset to level of minority so it will be false, not true
         n_samples=len(df_minority),#kitne points hone chaye,
         random_state=42)

In [48]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [51]:
df_downsampled

     feature_1  feature_2  target
900   2.490810   1.406243       1
901   1.846869   1.629416       1
902   2.380915   2.674931       1
903   2.294672   2.527089       1
904   3.070848   1.991817       1
..         ...        ...     ...
398   1.518729   0.969639       0
76   -0.042027   0.032459       0
196  -0.347051  -1.193760       0
631   1.455287   0.485022       0
751  -0.175397   1.867455       0

[200 rows x 3 columns]

In [53]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [54]:
df = pd.read_csv('data.csv')

In [57]:
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [58]:
df.diagnosis.value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64